container_commands:
  01_create_database:
    command: |
      # Instalar cliente PostgreSQL
      yum install -y postgresql

      # Crear la base de datos si no existe
      PGPASSWORD=15c385c86af79779e11021369ba495173d57f8935698ca757c18c7925617580b psql -h apruebaya-db.cc1i4oq0kqc1.us-east-1.rds.amazonaws.com -U apruebaya -p 5432 -c "CREATE DATABASE apruebaya;" || true 